* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #4caf50; /* Green */
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 8vh;
}

nav {
  background-color: #f0a10d; /* Dark background */
  padding: 10px;
  text-align: center;
  font-size: 8vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

.left {
  width: 50%;
  height: 100%;
  background-color: #f60f0f; /* Light background */
  padding: 20px;
  text-align: center;
  font-size: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
}

.left-1 {
  width: 100vh;
  height: 50%;
  background-color: #b10ff6; /* Light background */
  padding: 20px;
  text-align: center;
  font-size: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
}

.right {
  width: 50%;
  height: 100%;
  background-color: #0f92f6; /* Light background */
  padding: 20px;
  text-align: center;
  font-size: 8vh;
  justify-content: center;
  align-items: center;
  display: flex; /* Center content vertically and horizontally */
}

footer {
  background-color: #4caf50; /* Green */
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 8vh;
}
